<section>
  <div class="jumbotron">
    <h1> Your source for qualified candidates</h1>
  </div>
  <div id="welcome" class="container">
    <div id="outline">
      <div class="row">
        <div class="col-xs-6 middle-line center">
          <h2 class="welcome-info">Find Someone to Refer</h2>
          <p class="info-text" align="left">Have a simple informational interview over lunch and refer qualified candidates. Grow your network, build relationships, create great teams, &#38; get referral bonuses.</p>
        </div>
        <div class="col-xs-6 middle-adjust center">
          <h2 class="welcome-info">Get a Referral</h2>
          <p class="info-text" align="left">Getting a phone screen or interview without knowing someone at a company can be a duanting task. Referrals are the proven way to make sure your application is reviewed.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center">
          <!-- Button trigger sign up modal -->
          <% if logged_in? %>
          <a class="btn btn-primary" href="/dashboard/">Go to Dashboard</a>
          <% else %>
          <button data-toggle="modal" data-target="#createUser" id="sign-up">Sign-Up</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
