/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


.navbar {
  padding-bottom: 0;
  margin-bottom: 0;
 }

section{
  padding-bottom: 5%;
  min-height: 85vh;
}

.left {
  text-align: left;
}




 ///////////////////////////////
////////// footer ////////////
/////////////////////////////
#footer {
  height: 6vh;
  background-color:#ff4056;
  color: #ffffff;
  line-height: 6vh;
  font-weight: 300;
}

#footer-text {
  margin: 0;
}

.row {
  margin: 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
